*{
  /* primary text coolor  */
  color: #1f356b ;
}
body {
  background-color: #f6cc22c5;
  font-family: Arial, sans-serif;  
}

.container {
  margin-top: 20px;
}

/* Background Colors */
.bg-pokemon {
  background-color: #FFCB05;
}

.bg-pokemon-light {
  background-color: #f6cc22;
}
.pokemon-blue{
  color: #1f356b ;
}
/* Pokemon List */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

/* Pokemon Card */
.pokemon-card {
  background-color: #f1ee8e;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  background-color: #FFCB05;
}

.pokemon-card img {
  width: 100px;
}



.pokemon-card p {
  font-size: 14px;
}

/* Form Control */
.form-control {
  background-color: #f1ee8e;
  border: 1px solid #FFCB05;
  width: 160px;
}
.form-control::placeholder {
  color: #1f356b;
}
.form-control:focus {
  background-color: #f1ee8e;
  outline: none;
  border-color: #1f356b;;
}

/* Spinner */
.spinner {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 50px;
  padding: 20px;
}

/* Modal */
.modal-border{
  border-bottom: 1px solid gray;
}
.modal-button{
  background-color: rgb(20, 25, 112);
  color: azure;
}
.modal-button:hover{
  background-color: rgb(20, 25, 112);
  color: azure;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 75%;
  }
}
